.letter {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.letter:hover {
  background-color: rgba(0, 16, 61, 0.04);
}

.read {
  width: 28px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-mark {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #005ff9;
}

.user {
  width: 200px;
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 32px;
  margin-right: 12px;
  flex-shrink: 0;
  user-select: none;
}

div.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3b3ff;
  font-weight: 700;
  font-size: 15px;
  color: #874dd6;
}

.author {
  width: calc(160px - 12px);
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  flex-shrink: 0;
  width: 48px;
  text-align: center;
}

.title {
  flex-shrink: 0;
  padding: 8px;
}

.non-read {
  font-weight: 700;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #87898f;
}

.flag {
  width: 24px;
  margin-left: 16px;
  flex-shrink: 0;
  text-align: center;
}

.attach {
  width: 24px;
  flex-shrink: 0;
  text-align: center;
}

.date {
  width: 64px;
  flex-shrink: 0;
  padding: 14px 12px;
  text-align: right;
  color: #87898f;
}
