.header {
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 12px 16px;
  filter: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.12));
}

.logo-small {
  display: none;
}

@media (max-width: 768px) {
  .logo-small {
    display: block;
  }

  .logo {
    display: none;
  }
}
